html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Raleway', sans-serif;
} 

body {
	font-family: 'Raleway', sans-serif;
}

.kayak {
	width: 100%;
	height: 50%;
}

#menu {
	font-family: 'Montserrat Alternates', sans-serif;
	background: #000000;
	position: relative;
	width: 100%;
	top: 0ex;
	left: 0;
	font-size: 125%;
	font-weight: 900;
	color: whitesmoke;
}

#layout {
	width: 100%;
	height: 100vh;
}

#header {
	font-family: 'Montserrat Alternates', sans-serif;
	background: #000000;
	position: relative;
	width: 100%;
	top: 0ex;
	left: 0;
	font-size: 250%;
	font-weight: 900;
	color: #FFCC00;
	text-align: center;
	padding-bottom: 2vh;
	padding-top: 2vh;
}

.custom-menu-heading-font {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	color: lightgray;
}

.custom-menu-font-colour {
	color: whitesmoke;
}

a:hover {
	background-color: lightyellow;
	color: darkgray;
}

.selected {
	background-color: #FFCC00;
}

.committee-font {
	padding-top: 1em;
	font-size: 200%;
	text-align: center;
}

.photo-gallery {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	height: 100vh;
	border: 0;
}

.photo-gallery-font {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	font-size: 200%;
}

.justify-right {
	text-align: justify;
	font-size: 60%;
	padding-bottom: 0.5em;
	margin-right: 1.5em;
	margin-left: 2em;
}

.justify-left {
	text-align: justify;
	font-size: 60%;
	padding-bottom: 0.5em;
	margin-left: 1.5em;
	margin-right: 2em;
}




.davidw-img {
	width: 50%;
	float: left;
	margin-left: 1em;
	padding-right: 0.5em;
}

.conall-img {
	width: 45%;
	float: right;
	margin-right: 1em;
	padding-left: 0.5em;
}

.tomas-img {
	float: left;
	margin-left: 1em;
	width: 55%;
	padding-right: 0.5em;
}

.davidf-img {
	width: 35%;
	float: left;
	margin-left: 1em;
	padding-right: 0.5em;
}

.billy-img {
	width: 50%;
	float: right;
	margin-right: 1em;
	padding-left: 0.5em;	
}